<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive admin dashboard and web application ui kit. ">
    <meta name="keywords" content="blank, starter">

    <title>DrLoan Admin</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <!-- Styles -->
    <link href="../assets/css/core.min.css" rel="stylesheet">
    <link href="../assets/css/app.min.css" rel="stylesheet">
    <link href="../assets/css/style.min.css" rel="stylesheet">
    <link href="../assets/vendor/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="../assets/img/apple-touch-icon.png">
    <link rel="icon" href="../assets/img/favicon.png">
</head>

<body>

<!-- Preloader -->
<div class="preloader">
    <div class="spinner-dots">
        <span class="dot1"></span>
        <span class="dot2"></span>
        <span class="dot3"></span>
    </div>
</div>


<!-- Topbar -->
<%- include('include_topbar',{doctor:doctor}) %>
<!-- END Topbar -->


<!-- Main container -->
<main>

    <div class="main-content">
        <div class="container">
            <!--
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            | Ajax sourced data
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            !-->
            <!--<div class="card">-->
            <!--<h4 class="card-title">Admins</h4>-->

            <!--<div class="card-body">-->
            <!--<div class="flexbox mb-20 justify-content-end">-->


            <!--<div class="btn-toolbar">-->
            <!--<div class="btn-group btn-group-sm">-->
            <!--<button class="btn" title="" data-provide="tooltip" data-original-title="Refresh"><i-->
            <!--class="ion-refresh"></i></button>-->
            <!--<a class="btn" title="" data-provide="tooltip" data-original-title="Tạo mới"-->
            <!--href="#qv-admin-add" data-toggle="quickview"><i class="ion-plus-round"></i></a>-->
            <!--</div>-->

            <!--</div>-->
            <!--</div>-->

            <!--<table id="table-admins" class="table table-striped table-bordered" cellspacing="0">-->
            <!--<thead>-->
            <!--<tr>-->
            <!--<th>Full Name</th>-->
            <!--<th>Email</th>-->
            <!--<th>Created</th>-->
            <!--<th class="text-center w-100px">Actions</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tfoot>-->
            <!--<tr>-->
            <!--<th>Full Name</th>-->
            <!--<th>Email</th>-->
            <!--<th>Created</th>-->
            <!--<th class="text-center w-100px">Actions</th>-->
            <!--</tr>-->
            <!--</tfoot>-->
            <!--</table>-->
            <!--</div>-->
            <!--</div>-->

            <div class="row">
                <div class="col-6">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div>
                                <h5>Bệnh nhân</h5>
                            </div>

                            <div class="text-center my-2">
                                <div class="fs-60 fw-400 text-info"><%= totalPatients %></div>
                                <span class="fw-400 text-muted">Tổng cộng</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-6">

                    <div class="card shadow-1">
                        <div class="card-body">
                            <div>
                                <h5>Bác sĩ</h5>
                            </div>

                            <div class="text-center my-2">
                                <div class="fs-60 fw-400 text-danger"><%= totalDoctors %></div>
                                <span class="fw-400 text-muted">Tổng cộng</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <h4 class="card-title">Bệnh nhân</h4>

                <div class="card-body">
                    <div class="flexbox mb-20 justify-content-end">


                        <div class="btn-toolbar">
                            <div class="btn-group btn-group-sm">
                                <button class="btn" title="" data-provide="tooltip" data-original-title="Tải lại"><i
                                            class="ion-refresh" id="patients-refresh"></i></button>
                                <a class="btn" title="" data-provide="tooltip" data-original-title="Tạo mới"
                                   href="#qv-patient-add" data-toggle="quickview"><i class="ion-plus-round"></i></a>
                            </div>

                        </div>
                    </div>

                    <table id="table-patients" class="table table-striped table-bordered" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Họ tên</th>
                            <th>Email</th>
                            <th>SĐT</th>
                            <th>Giới tính</th>
                            <th>Phố</th>
                            <th>Quận</th>
                            <th>Thành phố</th>
                            <th>Ngày tạo</th>
                            <th class="text-center w-100px">Tùy chọn</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Họ tên</th>
                            <th>Email</th>
                            <th>SĐT</th>
                            <th>Giới tính</th>
                            <th>Phố</th>
                            <th>Quận</th>
                            <th>Thành phố</th>
                            <th>Ngày tạo</th>
                            <th class="text-center w-100px">Tùy chọn</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="card">
                <h4 class="card-title">Bác sĩ</h4>

                <div class="card-body">
                    <div class="flexbox mb-20 justify-content-end">
                        <div class="btn-toolbar">
                            <div class="btn-group btn-group-sm">
                                <button class="btn" title="" data-provide="tooltip" data-original-title="Tải lại"
                                        id="doctors-refresh"><i
                                            class="ion-refresh"></i></button>
                                <a class="btn" title="" data-provide="tooltip" data-original-title="Tạo mới"
                                   href="#qv-doctor-add" data-toggle="quickview"><i
                                            class="ion-plus-round"></i></a>
                            </div>

                        </div>
                    </div>

                    <table id="table-doctors" class="table table-striped table-bordered" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Tên</th>
                            <th>Email</th>
                            <th>Bằng cấp</th>
                            <th>Ngày tạo</th>
                            <th class="text-center w-100px">Tùy chọn</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Tên</th>
                            <th>Email</th>
                            <th>Bằng cấp</th>
                            <th>Ngày tạo</th>
                            <th class="text-center w-100px">Tùy chọn</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div><!--/.main-content -->

    </div>
    <!-- Footer -->
    <%- include('include_footer') %>
    <!-- END Footer -->

</main>
<!-- END Main container -->


<!-- Quickview - Add Admin -->
<form id="qv-admin-add" class="quickview quickview-lg" action="/admin/admins">
    <header class="quickview-header">
        <p class="quickview-title lead fw-400">Create new Admin</p>
        <span class="close"><i class="ti-close"></i></span>
    </header>

    <div class="quickview-body">

        <div class="quickview-block form-type-material">
            <h6>User</h6>
            <div class="form-group">
                <input type="email" class="form-control" name="email" required>
                <label>Email</label>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" required>
                <label>Password</label>
            </div>
            <div class="h-40px"></div>
            <h6>Details</h6>
            <div class="form-group input-group">
                <div class="input-group-input">
                    <input type="text" class="form-control" name="last">
                    <label>Last name</label>
                </div>
                <div class="input-group-input">
                    <input type="text" class="form-control" name="middle">
                    <label>Middle name</label>
                </div>
                <div class="input-group-input">
                    <input type="text" class="form-control" name="first">
                    <label>First name</label>
                </div>
            </div>

        </div>
    </div>

    <footer class="p-12 text-right">
        <button class="btn btn-flat btn-secondary" type="button" data-toggle="quickview">Cancel</button>
        <button class="btn btn-flat btn-primary" type="submit" data-toggle="quickview">Create</button>
    </footer>
</form>
<!-- END Quickview - Add Admin -->


<!-- Quickview - Add Patient -->
<form id="qv-patient-add" class="quickview quickview-lg" action="account/patients" method="post">
    <header class="quickview-header">
        <p class="quickview-title lead fw-400">Bệnh nhân mới</p>
        <span class="close"><i class="ti-close"></i></span>
    </header>

    <div class="quickview-body">

        <div class="quickview-block form-type-material">

            <h6>Thông tin cơ bản</h6>
            <div class="form-group">
                <input type="text" class="form-control" name="email">
                <label>Email</label>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password">
                <label>Mật khẩu</label>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="chairId">
                <label>Mã ghế</label>
            </div>
            <div class="form-group">
                <!--<label for="select">Bác sĩ điều trị</label>-->
                <!--<select class="form-control" id="doctors-select">-->

                <!--</select>-->
            <!--</div>-->

            <div class="h-40px"></div>
            <!--<div class="form-group">-->
            <!--<select data-provide="selectpicker">-->
            <!--<option value="true">Nam</option>-->
            <!--<option value="false">Nữ</option>-->
            <!--</select>-->
            <!--</div>-->
            <!--<h6>Thông tin cá nhân</h6>-->
            <!--<div class="form-group">-->
            <!--<input type="text" class="form-control" name="name">-->
            <!--<label>Họ tên</label>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<input type="number" class="form-control" name="phone">-->
            <!--<label>SĐT</label>-->
            <!--</div>-->
            <!--<div class="form-group input-group">-->
            <!--<div class="input-group-input">-->
            <!--<input type="text" class="form-control" data-provide="datepicker" name="birthday">-->
            <!--<label>Ngày sinh nhật</label>-->
            <!--</div>-->
            <!--<select data-provide="selectpicker">-->
            <!--<option value="true">Nam</option>-->
            <!--<option value="false">Nữ</option>-->
            <!--</select>-->
            <!--</div>-->
            <!--<div class="form-group input-group">-->
            <!--<div class="input-group-input">-->
            <!--<input type="text" class="form-control">-->
            <!--<label>Phố</label>-->
            <!--</div>-->
            <!--<div class="input-group-input">-->
            <!--<input type="text" class="form-control">-->
            <!--<label>Quận</label>-->
            <!--</div>-->
            <!--<div class="input-group-input">-->
            <!--<input type="text" class="form-control">-->
            <!--<label>Thành Phố</label>-->
            <!--</div>-->
            <!--</div>-->

        </div>
    </div>

    <footer class="p-12 text-right">
        <button class="btn btn-flat btn-secondary" type="button" data-toggle="quickview">Hủy</button>
        <button class="btn btn-flat btn-primary" type="submit">Tạo</button>
    </footer>
</form>
<!-- END Quickview - Add Patient -->

<!-- Quickview - Add Doctor -->
<form id="qv-doctor-add" class="quickview quickview-lg" action="account/doctor" method="post">
    <header class="quickview-header">
        <p class="quickview-title lead fw-400">Bác sĩ mới</p>
        <span class="close"><i class="ti-close"></i></span>
    </header>

    <div class="quickview-body">

        <div class="quickview-block form-type-material">

            <h6>Thông tin cơ bản</h6>
            <div class="form-group">
                <input type="text" class="form-control" name="email">
                <label>Email</label>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password">
                <label>Mật khẩu</label>
            </div>
            <div class="h-40px"></div>

            <h6>Thông tin cá nhân</h6>
            <div class="form-group">
                <input type="text" class="form-control" name="name">
                <label>Họ tên</label>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="degree">
                <label>Bằng cấp</label>
            </div>

        </div>
    </div>

    <footer class="p-12 text-right">
        <button class="btn btn-flat btn-secondary" type="button" data-toggle="quickview">Hủy</button>
        <button class="btn btn-flat btn-primary" type="submit">Tạo</button>
    </footer>
</form>
<!-- END Quickview - Add Doctor -->

<!-- Scripts -->
<script src="../assets/js/core.min.js" data-provide="sweetalert"></script>
<script src="../assets/js/app.min.js"></script>
<script src="../assets/js/script.min.js"></script>
<script src="../assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="../assets/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
<script>
    app.ready(function () {
            //For patient

            var patientTable = $('#table-patients').DataTable({
                "processing": true,
                "ajax": {
                    url: "/account/patients.json",
                    dataSrc: ''
                },
                "columns": [
                    {"data": "name"},
                    {"data": "user.email"},
                    {"data": "phone"},
                    {"data": "isMale"},
                    {"data": "address.street"},
                    {"data": "address.district"},
                    {"data": "address.city"},
                    {"data": "user.timeCreated"},
                    {
                        "data": null,
                        "defaultContent": "<div class=\"text-right table-actions\">\n" +
                            "<a class=\"table-action hover-primary\" href=\"#\"><i class=\"ti-pencil\" id='edit'></i></a>\n" +
                            "<a class=\"table-action hover-danger\" href=\"#\"><i class=\"ti-trash\" id='remove'></i></a>\n" +
                            "</div>"
                    }
                ],
            });

            $('#patients-refresh').click(function () {
                patientTable.ajax.reload();
            });

            //For doctor
            var doctorTable = $('#table-doctors').DataTable({
                "processing": true,
                "ajax": {
                    url: "/account/doctors.json",
                    dataSrc: ''
                },
                "columns": [
                    {"data": "name"},
                    {"data": "user.email"},
                    {"data": "degree"},
                    {"data": "user.timeCreated"},
                    {
                        "data": null,
                        "defaultContent": "<div class=\"text-right table-actions\">\n" +
                            "<a class=\"table-action hover-primary\" href=\"#\"><i class=\"ti-pencil\" id='edit'></i></a>\n" +
                            "<a class=\"table-action hover-danger\" href=\"#\"><i class=\"ti-trash\" id='remove'></i></a>\n" +
                            "</div>"
                    }],
                // "initComplete": function( settings, json ) {
                //     var opts = $('#doctors-select');
                //     opts.empty();
                //     for(var doc in json){
                //         opts.append('<option value=' + doc._id + '>'+ doc.name +'</option>')
                //     }
                // }

            });

            $('#doctors-refresh').click(function () {
                doctorTable.ajax.reload();
            });

            // $('#table-doctors tbody').on('click', '#edit', function () {
            //     var data = doctorTable.row($(this).parents('tr')).data();
            //     alert(data[0] + "'s salary is: " + data.name);
            // });

            function removeRow(payload, cb) {
                swal({
                    title: 'Bạn chắc chứ ?',
                    text: "Bạn ko thể đảo ngược tiến trình này!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Xóa',
                    cancelButtonText: 'Hủy',
                    confirmButtonClass: 'btn btn-primary',
                    cancelButtonClass: 'btn btn-secondary',
                    buttonsStyling: false
                }).then(function () {
                    $.ajax({
                        url: '/account',
                        type: 'DELETE',
                        data: payload,
                        success: function (result) {
                            // Do something with the result
                            cb(payload);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(textStatus);
                        }
                    });
                })
            }

            $('#table-doctors tbody').on('click', '#remove', function () {
                var row = doctorTable.row($(this).parents('tr'));
                var data = row.data();
                removeRow({email: data.user.email}, function (data) {
                    row.remove();
                    doctorTable.draw();
                });
            })
            $('#table-patients tbody').on('click', '#remove', function () {
                var row = patientTable.row($(this).parents('tr'));
                var data = row.data();
                removeRow({email: data.user.email}, function (data) {
                    row.remove();
                    patientTable.draw();
                });
            })
        }
    );

</script>
</body>


</html>
