<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive admin dashboard and web application ui kit. ">
    <meta name="keywords" content="app, chat, message, messenger">

    <title>Chat &mdash; TheAdmin</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <!-- Styles -->
    <link href="assets/css/core.min.css" rel="stylesheet">
    <link href="assets/css/app.min.css" rel="stylesheet">
    <link href="assets/css/style.min.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
    <link rel="icon" href="assets/img/favicon.png">
</head>

<body>

<!-- Preloader -->
<div class="preloader">
    <div class="spinner-dots">
        <span class="dot1"></span>
        <span class="dot2"></span>
        <span class="dot3"></span>
    </div>
</div>


<!-- Topbar -->
<%-include('include_topbar',{doctor: doctor})%>
<!-- END Topbar -->


<!-- Main container -->
<main class="layout-chat">


    <!-- Page aside -->
    <aside class="aside aside-lg aside-expand-lg" style="padding-top: 80px">
        <div class="aside-body pt-0">
            <div class="media-list media-list-divided media-list-hover">

                <header class="media-list-header b-0">
                    <form class="lookup lookup-lg w-100 bb-1 border-light">
                        <input class="w-100 no-radius no-border py-30" type="text" placeholder="Search..."
                               data-provide="media-search">
                    </form>
                </header>

                <div class="media-list-body">
                    <a class="media align-items-center active" href="#">
                <span class="avatar status-success">
                  <img src="assets/img/avatar/1.jpg" alt="...">
                </span>
                        <div class="media-body">
                            <div class="flexbox align-items-center">
                                <strong class="title">Maryam Amiri</strong>
                                <time datetime="2017-07-14 20:00">12:11</time>
                                <span class="badge badge-pill badge-primary">3</span>
                            </div>
                            <p class="text-truncate">You need to update the changelog in documentation before we release
                                the current version.</p>
                        </div>
                    </a>


                    <a class="media align-items-center" href="#">
                <span class="avatar status-warning">
                  <img src="assets/img/avatar/2.jpg" alt="...">
                </span>
                        <div class="media-body">
                            <div class="flexbox align-items-center">
                                <strong class="title">Patric Johnson</strong>
                                <time datetime="2017-07-14 20:00">09:34</time>
                                <span class="badge badge-pill badge-primary">1</span>
                            </div>
                            <p class="text-truncate">Ok, I'll take care of it</p>
                        </div>
                    </a>


                    <a class="media align-items-center" href="#">
                <span class="avatar status-danger">
                  <img src="assets/img/avatar/3.jpg" alt="...">
                </span>
                        <div class="media-body">
                            <div class="flexbox align-items-center">
                                <strong class="title">Sarah Conner</strong>
                                <time datetime="2017-07-14 20:00">04:29</time>
                            </div>
                            <p class="text-truncate">Good Morning!</p>
                        </div>
                    </a>


                    <a class="media align-items-center" href="#">
                <span class="avatar status-warning">
                  <img src="assets/img/avatar/default.jpg" alt="...">
                </span>
                        <div class="media-body">
                            <div class="flexbox align-items-center">
                                <strong class="title">Teisha Hummel</strong>
                                <time datetime="2017-07-14 20:00">Yesterday</time>
                            </div>
                            <p class="text-truncate">Bye</p>
                        </div>
                    </a>


                    <a class="media align-items-center" href="#">
                <span class="avatar status-success">
                  <img src="assets/img/avatar/5.jpg" alt="...">
                </span>
                        <div class="media-body">
                            <div class="flexbox align-items-center">
                                <strong class="title">Bobby Mincy</strong>
                                <time datetime="2017-07-14 20:00">Yesterday</time>
                            </div>
                            <p class="text-truncate">See you then</p>
                        </div>
                    </a>


                    <a class="media align-items-center" href="#">
                <span class="avatar status-danger">
                  <img src="assets/img/avatar/6.jpg" alt="...">
                </span>
                        <div class="media-body">
                            <div class="flexbox align-items-center">
                                <strong class="title">Tim Hank</strong>
                                <time datetime="2017-07-14 20:00">2 days ago</time>
                            </div>
                            <p class="text-truncate">Continually grow corporate solutions rather than ethical.</p>
                        </div>
                    </a>


                    <a class="media align-items-center" href="#">
                <span class="avatar status-success">
                  <img src="assets/img/avatar/8.jpg" alt="...">
                </span>
                        <div class="media-body">
                            <div class="flexbox align-items-center">
                                <strong class="title">Fidel Tonn</strong>
                                <time datetime="2017-07-14 20:00">2 days ago</time>
                            </div>
                            <p class="text-truncate">Foster resource maximizing niches before high standards.</p>
                        </div>
                    </a>
                </div>

            </div>
        </div>

        <button class="aside-toggler"></button>
    </aside>
    <!-- END Page aside -->


    <div class="main-content">


        <div class="card card-bordered flex-column container">


            <!--
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            | Chat header
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            !-->
            <header class="flexbox align-items-center p-12 pr-20 bg-lighter bb-1 border-light">
                <div class="media align-items-center p-0">
                    <a href="#"><img class="avatar" src="assets/img/avatar/1.jpg" alt="..."></a>
                    <div class="media-body">
                        <h6><a href="#">Maryam Amiri</a></h6>
                        <small>Typing...</small>
                    </div>
                </div>

                <div class="dropdown">
                    <a class="text-lighter" data-toggle="dropdown" href="#"><i class="ti-more-alt rotate-90"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-fw fa-picture-o"></i> Medias</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-fw fa-volume-off"></i> Mute</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fa fa-fw fa-trash"></i> Delete</a>
                    </div>
                </div>
            </header>


            <!--
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            | Chat content
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            !-->
            <div class="scrollable flex-grow" id="chat-content" data-provide="emoji">

                <div class="media media-chat">
                    <img class="avatar" src="assets/img/avatar/1.jpg" alt="...">
                    <div class="media-body">
                        <p>Hi</p>
                        <p>How are you ...???</p>
                        <p>What are you doing tomorrow?<br>Would you like to get out of the town for a while?</p>
                        <p class="meta">
                            <time datetime="2017">23:58</time>
                        </p>
                    </div>
                </div>

                <div class="media media-meta-day">Today</div>

                <div class="media media-chat media-chat-reverse">
                    <div class="media-body">
                        <p>Hiii, I'm good.</p>
                        <p>How are you doing?</p>
                        <p>Long time no see!</p>
                        <p class="meta">
                            <time datetime="2017">00:06</time>
                        </p>
                    </div>
                </div>

                <div class="media media-chat">
                    <img class="avatar" src="assets/img/avatar/1.jpg" alt="...">
                    <div class="media-body">
                        <p>Yeah</p>
                        <p>We were out of country for a vacation. We visited several beautiful countries and made a lot
                            of memmories. :stuck_out_tongue_winking_eye: :stuck_out_tongue_winking_eye:</p>
                        <p class="meta">
                            <time datetime="2017">00:07</time>
                        </p>
                    </div>
                </div>

                <div class="media media-chat media-chat-reverse">
                    <div class="media-body">
                        <p>That's awesome!</p>
                        <p>You should tell me everything with all small details. I'm so curious to hear your
                            stories.</p>
                        <p>Did you take pictures?</p>
                        <p class="meta">
                            <time datetime="2017">00:09</time>
                        </p>
                    </div>
                </div>

                <div class="media media-chat">
                    <img class="avatar" src="assets/img/avatar/1.jpg" alt="...">
                    <div class="media-body">
                        <p>We took a loooot. Here is some of them, I'll show you the rest once we meet.</p>
                        <p class="row gap-1" data-provide="photoswipe">
                            <a class="col-4 d-inline-block" href="#"><img src="assets/img/gallery/thumb-sm/8.jpg"
                                                                          alt="..."></a>
                            <a class="col-4 d-inline-block" href="#"><img src="assets/img/gallery/thumb-sm/11.jpg"
                                                                          alt="..."></a>
                            <a class="col-4 d-inline-block" href="#"><img src="assets/img/gallery/thumb-sm/7.jpg"
                                                                          alt="..."></a>
                        </p>
                        <p class="meta">
                            <time datetime="2017">00:10</time>
                        </p>
                    </div>
                </div>

                <div class="media media-chat media-chat-reverse">
                    <div class="media-body">
                        <p>These places are fantastic. Wish I could join you guys :disappointed: :disappointed:</p>
                        <p class="meta">
                            <time datetime="2017">00:10</time>
                        </p>
                    </div>
                </div>

                <div class="media media-chat">
                    <img class="avatar" src="assets/img/avatar/1.jpg" alt="...">
                    <div class="media-body">
                        <p>You can actually. We are planning our next vacation for new year holidays :wink:</p>
                        <p class="meta">
                            <time datetime="2017">00:12</time>
                        </p>
                    </div>
                </div>

                <div class="media media-chat media-chat-reverse">
                    <div class="media-body">
                        <p>Are you serious?!! :heart_eyes:</p>
                        <p class="meta">
                            <time datetime="2017">00:12</time>
                        </p>
                    </div>
                </div>

            </div>


            <!--
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            | Chat footer
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            !-->
            <footer class="publisher">
                <img class="avatar align-self-start" src="assets/img/avatar/2.jpg" alt="...">
                <input class="publisher-input" rows="1" placeholder="Write something" id="input">
                <div class="align-self-end gap-items">
              <span class="publisher-btn file-group">
                <i class="fa fa-paperclip file-browser"></i>
                <input type="file">
              </span>
                    <a class="publisher-btn" href="#"><i class="fa fa-smile-o"></i></a>
                    <a class="publisher-btn" href="#"><i class="fa fa-paper-plane"></i></a>
                </div>
            </footer>
        </div>

    </div><!--/.main-content -->


    <!-- Footer -->
    <%-include('include_footer')%>
    <!-- END Footer -->

</main>
<!-- END Main container -->


<!-- Global quickview -->
<div id="qv-global" class="quickview" data-url="assets/data/quickview-global.html">
    <div class="spinner-linear">
        <div class="line"></div>
    </div>
</div>
<!-- END Global quickview -->


<!-- Scripts -->
<script src="assets/js/core.min.js"></script>
<script src="assets/js/app.min.js"></script>
<script src="assets/js/script.min.js"></script>

<script>
    app.ready(function () {

        // Scoll to the end of chat content
        $('#chat-content').scrollToEnd();
        s.append()
    });
</script>

</body>
</html>
