<footer class="site-footer topbar-drloan">
    <div class="container">
        <p class="text-center text-md-left title" style="color:black; font-size: 1.25em">Copyright © 2017 <a href="http://thetheme.io/theadmin" style="color: black">Đức Phúc</a>. All
            rights reserved.</p>
    </div>
</footer>
