<aside class="sidebar sidebar-expand-lg sidebar-light sidebar-sm sidebar-color-info">
    <header class="sidebar-header" style="background:#48b0f7 !important">
        <a class="logo-icon" href="../index.html"><img src="/assets/img/logo-icon-light.png" alt="logo icon"></a>
        <span class="logo">
          <a href="/doctor/index.html"><img src="/assets/img/logo-light.png" alt="logo"></a>
        </span>
        <span class="sidebar-toggle-fold"></span>
    </header>

    <nav class="sidebar-navigation">
        <ul class="menu menu-sm menu-bordery">
            <% if(item == 1){ %>
            <li class="menu-item active">
                <% }else{ %>
            <li class="menu-item">
                <% } %>
                <a class="menu-link" href="/doctor">
                    <span class="icon ti-home"></span>
                    <span class="title">Trang chủ</span>
                </a>
            </li>
            <% if(item == 2){ %>
            <li class="menu-item active">
                <% }else{ %>
            <li class="menu-item">
                <% } %>
                <a class="menu-link" href="/doctor/mailbox">
                    <span class="icon ti-email"></span>
                    <span class="title">Hộp thư</span>
                </a>
            </li>


        </ul>
    </nav>

</aside>