<header class="topbar">
    <div class="topbar-left">
        <span class="topbar-btn sidebar-toggler"><i>&#9776;</i></span>
    </div>

    <div class="topbar-right">
        <ul class="topbar-btns">
            <ul class="topbar-btns">
                <li class="dropdown">
                    <span class="topbar-btn" data-toggle="dropdown"><img class="avatar" src=
                        <% if(doctor.imgUrl){ %>
                            <%= doctor.imgUrl %>
                        <% }else{ %>
                            "/assets/img/default-avatar.png">
                        <% } %></span>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#qv-user-details" data-toggle="quickview"><i class="ti-user"></i>
                            Thông tin cá nhân</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/doctor/logout"><i class="ti-power-off"></i> Đăng xuất</a>
                    </div>
                </li>
            </ul>
        </ul>

    </div>
</header>

<header class="topbar topbar-expand-lg topbar-secondary topbar-drloan">
    <div class="container">
        <div class="topbar-left">
            <span class="topbar-btn topbar-menu-toggler"><i>&#9776;</i></span>

            <div class="topbar-brand">
                <a href="/"><img src="http://doctorloan.vn/templates/default/images/logo.jpg" alt="..."></a>
            </div>

            <div class="topbar-divider d-none d-md-block"></div>

            <nav class="topbar-navigation">
                <ul class="menu">

                    <li class="menu-item">
                        <a class="menu-link" href="/">
                            <span class="title">Bệnh nhân</span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a class="menu-link" href="mailbox">
                            <span class="title">Tin nhắn</span>
                        </a>
                    </li>
                    <%if(doctor.roles.admin){%>
                    <li class="menu-item">
                        <a class="menu-link" href="account">
                            <span class="title">Tài khoản</span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a class="menu-link" href="news">
                            <span class="title">Tin tức</span>
                        </a>
                    </li>
                    <%}%>

                </ul>
            </nav>
        </div>


        <div class="topbar-right">

            <ul class="topbar-btns">
                <li class="dropdown">
                    <span class="topbar-btn" data-toggle="dropdown"><img class="avatar" src=
                        <% if(doctor.imgUrl){ %>
                            <%= doctor.imgUrl %>
                        <% }else{ %>
                            "/assets/img/default-avatar.png">
                        <% } %></span>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="ti-user"></i> Thông tin cá nhân</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="ti-power-off"></i> Đăng xuất</a>
                    </div>
                </li>

            </ul>

        </div>
    </div>
</header>