<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive admin dashboard and web application ui kit. ">
    <meta name="keywords" content="blank, starter">

    <title>Blank page &mdash; TheAdmin</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <!-- Styles -->
    <link href="../assets/css/core.min.css" rel="stylesheet">
    <link href="../assets/css/app.min.css" rel="stylesheet">
    <link href="../assets/css/style.min.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="../assets/img/apple-touch-icon.png">
    <link rel="icon" href="../assets/img/favicon.png">
</head>

<body>

<!-- Preloader -->
<div class="preloader">
    <div class="spinner-dots">
        <span class="dot1"></span>
        <span class="dot2"></span>
        <span class="dot3"></span>
    </div>
</div>

<!-- Topbar -->
    <%-include('include_topbar',{doctor: doctor})%>
<!-- END Topbar -->


<!-- Main container -->
<main>
    <div class="main-content">
        <div class="container">
            <div class="card">
                <div class="media-list media-list-divided media-list-hover">
                    <% patients.docs.forEach(function(patient){ %>
                        <%- include('list_item_patient', {patient: patient}); %>
                    <% }); %>
                </div>
            </div>

            <nav class="mt-3">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            <span class="ti-arrow-left"></span>
                        </a>
                    </li>
                    <% for(var i = 1; i <= patients.pages; i++){ %>
                        <% if(i == patients.page){ %>
                            <li class="page-item active"><a class="page-link" href="#"><%= i %></a></li>
                        <% }else{ %>
                        <li class="page-item"><a class="page-link" href="doctor/?page=<%=i%>"><%= i %>></a></li>
                        <% } %>
                    <% } %>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <span class="ti-arrow-right"></span>
                        </a>
                    </li>
                </ul>
            </nav>
            <br>
        </div>

    </div><!--/.main-content -->
    <%-include('include_footer')%>
</main>
<!-- END Main container -->


<%-include('quickview_user_detail')%>

<!-- Scripts -->
<script src="../assets/js/core.min.js"></script>
<script src="../assets/js/app.min.js"></script>
<script src="../assets/js/script.min.js"></script>

</body>
</html>
