<div class="card shadow-1">
    <header class="card-header bg-lightest">
        <div class="card-title flexbox">
            <img class="avatar" src=
            <% if (message.fromPatient){ %>
            <%= patient.getImgUrlOrDefault() %>
            <% }else{ %>
            <%= doctor.getImgUrlOrDefault() %>
            <% } %>
            alt="...">
            <div>
                <h6 class="mb-0">
                    <% if (message.fromPatient){ %>
                    <%= patient.name %>
                    <% }else{ %>
                    <%= doctor.name %>
                    <% } %>
                </h6>
                <small><%=moment(message.timestamp).format("dddd, MMM Do YYYY, h:mm a")%></small>
            </div>
        </div>
    </header>
        <div class="card-body">
            <p><%= message.msg %></p>
        </div>
</div>