<li class="timeline-block">
    <div class="timeline-point">
        <span class="badge badge-ring badge-secondary"></span>
    </div>
    <div class="timeline-content">
        <time datetime=<%=record.conclusion%>><%=moment(record.date).fromNow()%></time>
        <p><%=record.conclusion%></p>
    </div>
</li>