<div class="col-md-6">
    <div class="card">
        <figure class="img-hov-zoomin">
            <%if(article.imgUrl){%>
                <img src=<%=article.imgUrl%> alt="...">
            <%}%>
        </figure>

        <div class="card-body">
            <h4><a class="hover-primary" href=<%="news/"+article._id%>><%=article.title%></a></h4>
            <p><time><%=moment(article.timestmap).format('DD MMMM, YYYY')%></time></p>

            <p class="text-truncate">
                <%=article.getContentPlainText()%>
            </p>

            <div class="flexbox align-items-center mt-3">
                <a class="btn btn-round btn-bold btn-danger" href=<%="news/remove/"+article._id%>>Xóa bài</a>

            </div>
        </div>
    </div>
</div>