<div class="media align-items-center">
    <a href="#"><img class="avatar" src=<%=patient.getImgUrlOrDefault()%> alt="..."></a>

    <a class="media-body text-truncate" href=<%="mailbox/" + patient._id%>>
        <h6><%=patient.name%></h6>
        <small>
            <%=patient.last_message.msg%>
            <!--<span class="fw-300 opacity-80">Synergistically underwhelm clicks-and.</span>-->
        </small>
    </a>

    <!--<a class="text-lighter fs-18" href="#"><i class="ti-clip"></i></a>-->

    <time datetime=<%=patient.last_message.timestamp.toJSON()%>><%=moment(patient.last_message.timestamp).format("hh:mm")%></time>
</div>

