<a class="media">
    <div >
        <div class="media-body">
            <p><strong><%=record.name%></strong></p>
            <p class="text-truncate">Bs <%=record.doctorName%></p>
            <time datetime=<%=record.date.toJSON()%>><%=moment(record.date).format("DD/MM/YYYY")%></time>

        </div>
    </div>
    <dl class="row pl-20 pr-20">
        <dt class="col-sm-3">Triệu chứng</dt>
        <dd class="col-sm-9"><%=record.symptoms%></dd>

        <dt class="col-sm-3">Chuẩn đoán</dt>
        <dd class="col-sm-9"> <%=record.conclusion%></dd>
        <dt class="col-sm-3">Điều trị</dt>
        <dd class="col-sm-9">

            <%= record.treatment %>
        </dd>
    </dl>
</a>