
<tr>
    <td><%=moment(sittingTime.timeStart).format("dddd,Do MMMM  YYYY")%></td>
    <td><%=moment(sittingTime.timeStart).format("h:mm a")%></td>
    <td><%=moment(sittingTime.timeEnd).format("h:mm a")%></td>
</tr>