<div class="media">
    <a class="avatar avatar-lg" href="#">
        <img src=<% if(patient.imgUrl){ %>
            <%= patient.imgUrl %>
             <% }else{ %>
                 "../assets/img/default-avatar.jpg">
        <% } %>
        >
    </a>

    <div class="media-body">
        <p>
            <a class="hover-primary" href="#"><strong><%= patient.name %></strong></a>
            <% if(patient.latest_visit){ %>
                <small class="sidetitle">Lần khám gần nhất
                    vào <%= moment(patient.latest_visit.date).format('DD/MM/YYYY') %>
                </small>
            <% }else { %>
                <small class="subtitle">Chưa khám lần nào</small>
            <% } %>

        </p>
        <p><%= patient.user.email %> <span class="divider-dash">
                <%= patient.phone %>
            </span></p>
        <% if(patient.latest_visit){ %>
            <hr class="hr-sm" style="margin-bottom: 1rem !important">
            <div class="row">
                <dt class="col-sm-3">Bác sĩ khám</dt>
                <dd class="col-sm-9"><%= patient.latest_visit.doctorName %></dd>
                <dt class="col-sm-3">Triệu chứng</dt>
                <dd class="col-sm-9"><%= patient.latest_visit.symptoms %></dd>
                <dt class="col-sm-3">Kết luận</dt>
                <dd class="col-sm-9"><%= patient.latest_visit.conclusion %></dd>
            </div>
        <% } %>
    </div>

    <div class="media-right gap-items">
        <a class="media-action lead" href="#" data-provide="tooltip" title=""
           data-original-title="Nhắn tin"><i class="ti-comment-alt"></i></a>
        <a class="media-action lead" href=<%="/patient/" + patient._id +"/all"%> data-provide="tooltip" title=""
           data-original-title="Xem hồ sơ"><i class="ti-files"></i></a>
        <a class="media-action lead" href="#" data-provide="tooltip" title=""
           data-original-title="Thêm lịch sử khám"><i class="ti-plus"></i></a>

    </div>
</div>