<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive admin dashboard and web application ui kit. ">
    <meta name="keywords" content="login, signin">

    <title>Drloan Admin</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <!-- Styles -->
    <link href="../assets/css/core.min.css" rel="stylesheet">
    <link href="../assets/css/app.min.css" rel="stylesheet">
    <link href="../assets/css/style.min.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="../../assets/img/apple-touch-icon.png">
    <link rel="icon" href="../../assets/img/favicon.png">
</head>

<body>



<div class="row min-h-fullscreen center-vh p-20 m-0">
    <div class="col-12">
        <div class="card card-shadowed px-50 py-30 w-400px mx-auto" style="max-width: 100%">

            <h5 class="text-uppercase">Đăng nhập</h5>
            <%if(messages.error){%>
                <div class="alert alert-danger" role="alert">
                    <%=messages.error%>
                </div>
            <%}%>
            <br>


            <form class="form-type-material" action='login' method="post">
                <div class="form-group">
                    <input type="text" class="form-control" id="email" name="email">
                    <label for="email">Email</label>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password">
                    <label for="password">Mật khẩu</label>
                </div>

                <div class="form-group flexbox flex-column flex-md-row">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" checked>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Remember me</span>
                    </label>

                    <!--<a class="text-muted hover-primary fs-13 mt-2 mt-md-0" href="#">Forgot password?</a>-->
                </div>

                <div class="form-group">
                    <button class="btn btn-bold btn-block btn-primary" type="submit">Login</button>
                </div>

            </form>
        </div>
        <!--<p class="text-center text-muted fs-13 mt-20">Don't have an account? <a class="text-primary fw-500" href="#">Sign up</a></p>-->
    </div>


    <footer class="col-12 align-self-end text-center fs-13">
        <p class="mb-0"><small>Copyright © 2017 <a href="http://thetheme.io/theadmin">TheAdmin</a>. All rights reserved.</small></p>
    </footer>
</div>

<!-- Scripts -->
<script src="../assets/js/core.min.js"></script>
<script src="../assets/js/app.min.js"></script>
<script src="../assets/js/script.min.js"></script>

</body>
</html>
