<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive admin dashboard and web application ui kit. ">
    <meta name="keywords" content="mail, email, conversation, mailbox">

    <title>Mailbox Single &mdash; TheAdmin</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <!-- Styles -->
    <link href="/assets/css/core.min.css" rel="stylesheet">
    <link href="/assets/css/app.min.css" rel="stylesheet">
    <link href="/assets/css/style.min.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" href="/assets/img/favicon.png">
</head>

<body>

<!-- Preloader -->
<div class="preloader">
    <div class="spinner-dots">
        <span class="dot1"></span>
        <span class="dot2"></span>
        <span class="dot3"></span>
    </div>
</div>




<!-- Topbar -->
<%- include('include_topbar',{doctor: doctor}) %>
<!-- END Topbar -->


<!-- Main container -->
<main>
    <header class="header">
        <div class="media align-items-center header-info">
            <div class="flexbox">
                <a href="#">
                    <img class="avatar avatar-xxl avatar-bordered" src=<%= patient.getImgUrlOrDefault() %>>
                </a>
                <div class="flex-grow pl-20">
                    <h4><%= patient.name %></h4>
                    <div><i class="fa fa-fw fa-envelope w-20px"></i><%= patient.user.email %></div>
                    <div><i class="fa fa-fw fa-phone w-20px"></i><%= patient.phone %></div>
                </div>
            </div>
        </div>
    </header>


    <div class="main-content">

        <% messages.forEach(function (message) { %>
            <%- include('list_item_mail_single',{doctor: doctor, patient:patient, message: message}) %>
        <% }); %>
        <!-- Messages -->
        <!--<footer class="flexbox align-items-center py-20">-->
        <!--<span class="flex-grow text-right text-lighter pr-2">1-1-->
        <!--of 1</span>-->
        <!--<nav>-->
        <!--<a class="btn btn-sm btn-square disabled" href="#">-->
        <!--<i class="ti-angle-left"></i></a>-->
        <!--<a class="btn btn-sm btn-square" href="#"><i class="ti-angle-right"></i></a>-->
        <!--</nav>-->
        <!--</footer>-->

        <form id="reply" class="card shadow-1" method="post" action=<%= patient._id %>>
            <h4 class="card-title"><strong>Trả lời</strong></h4>
            <div class="card-body">
                <div class="form-group">
                    <label class="require">Nội dung</label>
                    <textarea class="form-control" id="textarea" rows="6" name="msg"></textarea>
                    <!--<textarea data-provide="summernote" data-min-height="150"></textarea>-->
                </div>

            </div>
            <footer class="card-footer text-right">
                <button class="btn btn-bold btn-primary" type="submit">Gửi</button>
            </footer>
        </form>
        <br>
    </div><!--/.main-content -->

    <!-- Footer -->
    <%- include('include_footer') %>
    <!-- END Footer -->

</main>
<!-- END Main container -->


<div class="fab fab-fixed">
    <a class="btn btn-float btn-primary" href="#reply" title="Cuộn xuống dưới cùng" data-provide="tooltip"><i
                class="ti-arrow-down"></i></a>
</div>


<!-- Global quickview -->
<div id="qv-global" class="quickview" data-url="/assets/data/quickview-global.html">
    <div class="spinner-linear">
        <div class="line"></div>
    </div>
</div>
<!-- END Global quickview -->


<!-- Scripts -->
<script src="/assets/js/core.min.js"></script>
<script src="/assets/js/app.min.js"></script>
<script src="/assets/js/script.min.js"></script>


</body>
</html>
