<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive admin dashboard and web application ui kit. ">
    <meta name="keywords" content="blank, starter">

    <title>Blank page &mdash; TheAdmin</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <!-- Styles -->
    <link href="/assets/css/core.min.css" rel="stylesheet">
    <link href="/assets/css/app.min.css" rel="stylesheet">
    <link href="/assets/css/style.min.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" href="/assets/img/favicon.png">
</head>

<body>

<!-- Preloader -->
<div class="preloader">
    <div class="spinner-dots">
        <span class="dot1"></span>
        <span class="dot2"></span>
        <span class="dot3"></span>
    </div>
</div>



<!-- Topbar -->
<%- include('include_topbar',{doctor: doctor}) %>
<!-- END Topbar -->


<!-- Main container -->
<main>
    <div class="main-content">
        <div class="container">
            <div class="media-list media-list-divided media-list-hover" data-provide="selectall">

                <header class="flexbox align-items-center media-list-header bg-transparent b-0 py-16">
                    <div class="dropdown">
                        <a class="btn btn-sm dropdown-toggle" data-toggle="dropdown" href="#">Sort by</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Họ tên</a>
                            <a class="dropdown-item" href="#">Thời gian</a>
                        </div>
                    </div>

                    <div>
                        <div class="lookup lookup-circle lookup-right">
                            <input type="text" data-provide="media-search">
                        </div>
                    </div>
                </header>


                <div class="media-list-body bg-white b-1">
                    <!--List item mail-->
                    <% patients.docs.forEach(function(patient){ %>
                        <%- include('list_item_mail', {patient: patient}); %>
                    <% }); %>
                </div>


                <footer class="flexbox align-items-center py-20">
                <span class="flex-grow text-right text-lighter pr-2"><%= patients.page %>-<%= patients.pages %>
                    of <%= patients.total %></span>
                    <nav>
                        <a class="btn btn-sm btn-square disabled"
                           href=<% if(patients.page < 2){ %>
                               "#"
                        <% }else{ %>
                            <%= "/doctor/mailbox?page=" + (patient.page - 1) %>
                                <% } %>
                        >
                            <i class="ti-angle-left"></i></a>
                        <a class="btn btn-sm btn-square"
                           href=<% if(patients.page === patients.pages){ %>
                               "#"
                        <% }else{ %>
                            <%= "/doctor/mailbox?page=" + (patient.page + 1) %>
                                <% } %>
                        ><i class="ti-angle-right"></i></a>
                    </nav>
                </footer>

            </div>
        </div>
    </div>
    <!--/.main-content -->


    <!-- Footer -->
    <%- include('include_footer') %>
    <!-- END Footer -->

</main>


<!-- Scripts -->
<script src="/assets/js/core.min.js"></script>
<script src="/assets/js/app.min.js"></script>
<script src="/assets/js/script.min.js"></script>

</body>

</html>
