<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Responsive admin dashboard and web application ui kit. ">
  <meta name="keywords" content="blank, starter">

  <title>Blank page &mdash; TheAdmin</title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

  <!-- Styles -->
  <link href="../assets/css/core.min.css" rel="stylesheet">
  <link href="../assets/css/app.min.css" rel="stylesheet">
  <link href="../assets/css/style.min.css" rel="stylesheet">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="../assets/img/apple-touch-icon.png">
  <link rel="icon" href="../assets/img/favicon.png">
</head>

<body>

  <!-- Preloader -->
  <div class="preloader">
    <div class="spinner-dots">
      <span class="dot1"></span>
      <span class="dot2"></span>
      <span class="dot3"></span>
    </div>
  </div>


  <!-- Sidebar -->
  <%-include('include_sidebar')%>
  <!-- END Sidebar -->


  <!-- Topbar -->
    <%-include('include_topbar',{doctor: doctor})%>
  <!-- END Topbar -->


  <!-- Main container -->
  <main>
    <div class="main-content">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
              <header class="card-header">
                  <h4 class="card-title">Hồ sơ khám bệnh</h4>
                  <a class="btn btn-sm btn-flat btn-info" href="/doctor/records/new" data-toggle="quickview">Tạo mới</a>
                </header>

          </div>
        </div>
        <div class="col-md-4">
          <div class="card ">
            <div class="text-white card-body bg-img text-center py-50 bg-info">
              <a href="#">
                <img class="avatar avatar-xxl avatar-bordered" src=
                <% if(patient.imgUrl){ %>
                  <%= patient.imgUrl %>
                <% }else{ %>
                  "../assets/img/default-avatar.png">
                <% } %>
                >
              </a>
              <h5 class="mt-2 mb-0"><a class="hover-primary text-white" href="#"><%= patient.name%></a></h5>
              <span><%= patient.user.email %></span>
            </div>
            <div class="media-list">
              <div class="media align-items-center">
                <span class="fa fa-phone lead text-info"></span>
                <div class="media-body">
                  <p><strong><%= patient.phone%></strong></p>
                  <p>Di động</p>
                </div>
              </div>
              <div class="media align-items-center">
                <span class="fa fa-map-marker lead text-info"></span>
                <div class="media-body">
                  <p><strong><%=patient.getAddressString()%></strong></p>
                  <p>Địa chỉ</p>
                </div>
              </div>
              <div class="media align-items-center">
                <span class="fa fa-birthday-cake lead text-info"></span>
                <div class="media-body">
                  <p><strong><%=moment(patient.birthday).format('DD/MM/YYY')%></strong></p>
                  <p>Sinh nhật</p>
                </div>
              </div>
            </div>
            <ul class="flexbox flex-justified bt-1 text-center p-20 bg-lightest text-center">
              <li class="br-1 border-light">
                <span class="text-muted">Số lần khám</span><br>
                <span class="fs-22">6</span>
              </li>
              <li>
                <span class="text-muted">Số giờ ngồi</span><br>
                <span class="fs-22">160h</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--/.main-content -->


    <!-- Footer -->
    <%-include('include_footer')%>
    <!-- END Footer -->

  </main>
  <!-- END Main container -->

  <!-- Quickview - Add user -->
  <!-- <form id="qv-record-add" class="quickview quickview-lg" method="post" action="doctor/record">
      <header class="quickview-header">
        <p class="quickview-title lead fw-400">Thêm hồ sơ khám bệnh</p>
        <span class="close"><i class="ti-close"></i></span>
      </header>

      <div class="quickview-body">

        <div class="quickview-block form-type-material">
          
          <div class="form-group">
            <input type="text" class="form-control" name="name">
            <label>Tên</label>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" name="doctorName">
            <label>Bác sĩ</label>
          </div>

          

          <div class="form-group">
            <input type="text" class="form-control" data-provide="datepicker" data-date-today-highlight="true" name="date">
            <label>Ngày khám</label>
          </div>

          <div class="form-group">
              <input type="text" class="form-control" name="conclusion">
              <label>Chuẩn đoán</label>
            </div>

          <div class="form-group">
              <label class="require">Triệu chứng</label>
              <textarea class="form-control" id="textarea" rows="5" name="symptoms"></textarea>
            </div>

          <div class="form-group">
            <label class="require">Điều trị</label>
            <textarea class="form-control" id="textarea" rows="5" name="treatment"></textarea>
          </div>


        </div>
      </div>

      <footer class="p-12 text-right">
        <button class="btn btn-flat btn-secondary" type="button" data-toggle="quickview">Hủy</button>
        <button class="btn btn-flat btn-primary" type="submit">Tạo mới</button>
      </footer>
  </form> -->
    <!-- END Quickview - Add user -->

  <!-- Scripts -->
  <script src="../assets/js/core.min.js"></script>
  <script src="../assets/js/app.min.js"></script>
  <script src="../assets/js/script.min.js"></script>

</body>

</html>