<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive admin dashboard and web application ui kit. ">
    <meta name="keywords" content="blank, starter">

    <title>Blank page &mdash; TheAdmin</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <!-- Styles -->
    <link href="/assets/css/core.min.css" rel="stylesheet">
    <link href="/assets/css/app.min.css" rel="stylesheet">
    <link href="/assets/css/style.min.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" href="/assets/img/favicon.png">
  </head>

  <body>

    <!-- Preloader -->
    <div class="preloader">
      <div class="spinner-dots">
        <span class="dot1"></span>
        <span class="dot2"></span>
        <span class="dot3"></span>
      </div>
    </div>


    <!-- Sidebar -->
    <aside class="sidebar sidebar-expand-lg sidebar-light sidebar-sm sidebar-color-info">
      <header class="sidebar-header" style="background:#48b0f7 !important">
        <a class="logo-icon" href="../index.html"><img src="/assets/img/logo-icon-light.png" alt="logo icon"></a>
        <span class="logo">
          <a href="../index.html"><img src="/assets/img/logo-light.png" alt="logo"></a>
        </span>
        <span class="sidebar-toggle-fold"></span>
      </header>

      <nav class="sidebar-navigation">
        <ul class="menu menu-sm menu-bordery">

          <li class="menu-item active">
            <a class="menu-link" href="index.html">
              <span class="icon ti-home"></span>
              <span class="title">Patient Management</span>
            </a>
          </li>
        </ul>
      </nav>

    </aside>
    <!-- END Sidebar -->


    <!-- Topbar -->
    <header class="topbar">
      <div class="topbar-left">
        <span class="topbar-btn sidebar-toggler"><i>&#9776;</i></span>
      </div>

      <div class="topbar-right">
        <ul class="topbar-btns">
          <ul class="topbar-btns">
            <li class="dropdown">
              <span class="topbar-btn" data-toggle="dropdown"><img class="avatar" src="/assets/img/default-avatar.png" alt="..."></span>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#qv-user-details" data-toggle="quickview"><i class="ti-user"></i> Profile</a>
                <a class="dropdown-item" href="#"><i class="ti-settings"></i> Settings</a>
                <a class="dropdown-item" href="#"><i class="ti-help"></i> Help</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><i class="ti-power-off"></i> Logout</a>
              </div>
            </li>
          </ul>
          <!-- Notifications -->
          <li class="dropdown d-none d-md-block">
            <span class="topbar-btn has-new" data-toggle="dropdown"><i class="ti-bell"></i></span>
            <div class="dropdown-menu dropdown-menu-right">

              <div class="media-list media-list-hover media-list-divided media-list-xs">
                <a class="media media-new" href="#">
                  <span class="avatar bg-success"><i class="ti-user"></i></span>
                  <div class="media-body">
                    <p>New user registered</p>
                    <time datetime="2017-07-14 20:00">Just now</time>
                  </div>
                </a>

                <a class="media" href="#">
                  <span class="avatar bg-info"><i class="ti-shopping-cart"></i></span>
                  <div class="media-body">
                    <p>New order received</p>
                    <time datetime="2017-07-14 20:00">2 min ago</time>
                  </div>
                </a>

                <a class="media" href="#">
                  <span class="avatar bg-warning"><i class="ti-face-sad"></i></span>
                  <div class="media-body">
                    <p>Refund request from <b>Ashlyn Culotta</b></p>
                    <time datetime="2017-07-14 20:00">24 min ago</time>
                  </div>
                </a>

                <a class="media" href="#">
                  <span class="avatar bg-primary"><i class="ti-money"></i></span>
                  <div class="media-body">
                    <p>New payment has made through PayPal</p>
                    <time datetime="2017-07-14 20:00">53 min ago</time>
                  </div>
                </a>
              </div>

              <div class="dropdown-footer">
                <div class="left">
                  <a href="#">Read all notifications</a>
                </div>

                <div class="right">
                  <a href="#" data-provide="tooltip" title="Mark all as read"><i class="fa fa-circle-o"></i></a>
                  <a href="#" data-provide="tooltip" title="Update"><i class="fa fa-repeat"></i></a>
                  <a href="#" data-provide="tooltip" title="Settings"><i class="fa fa-gear"></i></a>
                </div>
              </div>

            </div>
          </li>
          <!-- END Notifications -->
        </ul>

      </div>
    </header>
    <!-- END Topbar -->


    <!-- Main container -->
    <main>
        <div class="main-content">
            <form class="row" method="post" enctype="multipart/form-data">
  
  
              <div class="col-md-12">
                <div class="card shadow-1">
                  <h4 class="card-title">Hồ sơ khám bệnh</h4>
  
                  <div class="card-body">
  
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label class="require">Tên</label>
                        <input class="form-control" type="text" name="title">
                      </div>
  
                      <div class="form-group col-md-6">
                        <label class="require">Bác sĩ</label>
                        <input class="form-control" type="text" name="title">
                      </div>

                      
                    </div>
                    <div class="row">
                        <div class="form-group col-md-9">
                            <label class="require">Chuẩn đoán</label>
                            <input type="text" class="form-control">
                          </div>
                        <div class="form-group col-md-3">
                            <label class="require">Ngày</label>
                            <input type="text" class="form-control" data-provide="datepicker" data-date-today-highlight="true">
                          </div>
                    </div>
  
                    <div class="form-group">
                        <label class="require">Triệu chứng</label>
                        <textarea class="form-control" id="textarea" rows="3"></textarea>
                      </div>
  
                    <div class="form-group">
                      <label class="require">Điều trị</label>
                      <textarea class="form-control" id="textarea" rows="3"></textarea>
                    </div>
  
  
                  </div>
  
  
                  <footer class="card-footer text-right">
                    <a class="btn btn-secondary mr-2" href="#">Hủy</a>
                    <button class="btn btn-primary" type="submit">Lưu</button>
                  </footer>
  
  
                </div>
              </div>
  
  
              
  
  
            </form>
          </div><!--/.main-content -->


      <!-- Footer -->
      <footer class="site-footer">
        <div class="row">
          <div class="col-md-6">
            <p class="text-center text-md-left">Copyright © 2017 <a href="http://thetheme.io/theadmin">TheAdmin</a>. All rights reserved.</p>
          </div>

          <div class="col-md-6">
            <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
              <li class="nav-item">
                <a class="nav-link" href="../help/articles.html">Documentation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../help/faq.html">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://themeforest.net/item/theadmin-responsive-bootstrap-4-admin-dashboard-webapp-template/20475359?license=regular&amp;open_purchase_for_item_id=20475359&amp;purchasable=source&amp;ref=thethemeio">Purchase Now</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
      <!-- END Footer -->

    </main>
    <!-- END Main container -->




    <!-- Scripts -->
    <script src="/assets/js/core.min.js"></script>
    <script src="/assets/js/app.min.js"></script>
    <script src="/assets/js/script.min.js"></script>

  </body>
</html>
