<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive admin dashboard and web application ui kit. ">
    <meta name="keywords" content="blank, starter">

    <title>Blank page &mdash; TheAdmin</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <!-- Styles -->
    <link href="/assets/css/core.min.css" rel="stylesheet">
    <link href="/assets/css/app.min.css" rel="stylesheet">
    <link href="/assets/css/style.min.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" href="/assets/img/favicon.png">
</head>

<body>

<!-- Preloader -->
<div class="preloader">
    <div class="spinner-dots">
        <span class="dot1"></span>
        <span class="dot2"></span>
        <span class="dot3"></span>
    </div>
</div>



<!-- Topbar -->
<header class="topbar">

</header>
<!-- END Topbar -->


<!-- Main container -->
<main>
    <div class="main-content">
        <div class="container">
            <form class="row" method="post" enctype="multipart/form-data" action="/admin/news/publish">

                <div class="col-md-12">
                    <div class="card shadow-1">
                        <!-- <h4 class="card-title"><strong>Ticket</strong> Information</h4> -->

                        <div class="card-body">
                            <div class="row">


                                <div class="form-group col-md-8">
                                    <label class="require">Tiêu đề</label>
                                    <input class="form-control" type="text" name="title">
                                </div>


                                <div class="form-group col-md-4">
                                    <label class="require">Ảnh</label>
                                    <input type="file" data-provide="dropify" name="image">
                                </div>
                            </div>

                            <hr>

                            <div class="form-group">
                                <label class="require">Nội dung</label>
                                <textarea data-provide="summernote" data-toolbar="slim" data-min-height="220" name="content"></textarea>
                            </div>


                        </div>


                        <footer class="card-footer text-right">
                            <a class="btn btn-secondary mr-2" href="/admin/news">Quay lại</a>
                            <!--<button class="btn btn-secondary mr-2" type="submit">Xem trước</button>-->
                            <button class="btn btn-primary" type="submit">Đăng bài</button>

                        </footer>


                    </div>
                </div>

            </form>
        </div>
    </div>





    <!-- Footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-center text-sm-left">Designed using <a href="http://thetheme.io/theadmin"><strong>TheAdmin</strong></a></p>
                </div>

                <div class="col-md-6">
                    <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Help</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- END Footer -->


</main>
<!-- END Main container -->

<!-- Scripts -->
<script src="/assets/js/core.min.js"></script>
<script src="/assets/js/app.min.js"></script>
<script src="/assets/js/script.min.js"></script>

</body>

</html>