<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive admin dashboard and web application ui kit. ">
    <meta name="keywords" content="blank, starter">

    <title>DrLoan Admin</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <!-- Styles -->
    <link href="../assets/css/core.min.css" rel="stylesheet">
    <link href="../assets/css/app.min.css" rel="stylesheet">
    <link href="../assets/css/style.min.css" rel="stylesheet">
    <link href="../assets/vendor/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="../assets/img/apple-touch-icon.png">
    <link rel="icon" href="../assets/img/favicon.png">
</head>

<body>

<!-- Preloader -->
<div class="preloader">
    <div class="spinner-dots">
        <span class="dot1"></span>
        <span class="dot2"></span>
        <span class="dot3"></span>
    </div>
</div>



<!-- Topbar -->
<%- include('include_topbar',{doctor:doctor}) %>
<!-- END Topbar -->


<!-- Main container -->
<main>

    <div class="main-content">
        <div class="container">
        <div class="row">
            <%articles.forEach(function (item){%>
                <%-include("list_item_article",{article: item})%>
            <%});%>
        </div>

        </div><!--/.main-content -->
    </div>

    <!-- Footer -->
    <%- include('include_footer') %>
    <!-- END Footer -->

</main>
<!-- END Main container -->

<div class="fab fab-fixed">
    <a class="btn btn-float btn-primary" href="news/editor" title="Tạo mới" data-provide="tooltip"><i class="ti-plus"></i></a>
</div>


<!-- Quickview - Add Admin -->
<form id="qv-admin-add" class="quickview quickview-lg" action="/admin/admins">
    <header class="quickview-header">
        <p class="quickview-title lead fw-400">Create new Admin</p>
        <span class="close"><i class="ti-close"></i></span>
    </header>

    <div class="quickview-body">

        <div class="quickview-block form-type-material">
            <h6>User</h6>
            <div class="form-group">
                <input type="email" class="form-control" name="email" required>
                <label>Email</label>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" required>
                <label>Password</label>
            </div>
            <div class="h-40px"></div>
            <h6>Details</h6>
            <div class="form-group input-group">
                <div class="input-group-input">
                    <input type="text" class="form-control" name="last">
                    <label>Last name</label>
                </div>
                <div class="input-group-input">
                    <input type="text" class="form-control" name="middle">
                    <label>Middle name</label>
                </div>
                <div class="input-group-input" >
                    <input type="text" class="form-control" name="first">
                    <label>First name</label>
                </div>
            </div>

        </div>
    </div>

    <footer class="p-12 text-right">
        <button class="btn btn-flat btn-secondary" type="button" data-toggle="quickview">Cancel</button>
        <button class="btn btn-flat btn-primary" type="submit" data-toggle="quickview">Create</button>
    </footer>
</form>
<!-- END Quickview - Add Admin -->


<!-- Quickview - Add Patient -->
<div id="qv-patient-add" class="quickview quickview-lg">
    <header class="quickview-header">
        <p class="quickview-title lead fw-400">Create new Patient</p>
        <span class="close"><i class="ti-close"></i></span>
    </header>

    <div class="quickview-body">

        <div class="quickview-block form-type-material">

            <h6>User</h6>
            <div class="form-group">
                <input type="text" class="form-control">
                <label>Email</label>
            </div>
            <div class="form-group">
                <input type="password" class="form-control">
                <label>Password</label>
            </div>
            <div class="h-40px"></div>

            <h6>Details</h6>
            <div class="form-group input-group">
                <div class="input-group-input">
                    <input type="text" class="form-control">
                    <label>First name</label>
                </div>
                <div class="input-group-input">
                    <input type="text" class="form-control">
                    <label>Middle name</label>
                </div>
                <div class="input-group-input">
                    <input type="text" class="form-control">
                    <label>Last name</label>
                </div>
            </div>
            <div class="form-group">
                <input type="number" class="form-control">
                <label>Phone</label>
            </div>
            <div class="form-group input-group">
                <div class="input-group-input">
                    <input type="text" class="form-control" data-provide="datepicker">
                    <label>Birthday</label>
                </div>
                <select data-provide="selectpicker">
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
            <div class="form-group input-group">
                <div class="input-group-input">
                    <input type="text" class="form-control">
                    <label>Street</label>
                </div>
                <div class="input-group-input">
                    <input type="text" class="form-control">
                    <label>District</label>
                </div>
                <div class="input-group-input">
                    <input type="text" class="form-control">
                    <label>City</label>
                </div>
            </div>

        </div>
    </div>

    <footer class="p-12 text-right">
        <button class="btn btn-flat btn-secondary" type="button" data-toggle="quickview">Cancel</button>
        <button class="btn btn-flat btn-primary" type="submit">Create</button>
    </footer>
</div>
<!-- END Quickview - Add Patient -->

<!-- Quickview - Add Doctor -->
<div id="qv-doctor-add" class="quickview quickview-lg">
    <header class="quickview-header">
        <p class="quickview-title lead fw-400">Create new Patient</p>
        <span class="close"><i class="ti-close"></i></span>
    </header>

    <div class="quickview-body">

        <div class="quickview-block form-type-material">

            <h6>User</h6>
            <div class="form-group">
                <input type="text" class="form-control">
                <label>Email</label>
            </div>
            <div class="form-group">
                <input type="password" class="form-control">
                <label>Password</label>
            </div>
            <div class="h-40px"></div>

            <h6>Details</h6>
            <div class="form-group input-group">
                <div class="input-group-input">
                    <input type="text" class="form-control">
                    <label>First name</label>
                </div>
                <div class="input-group-input">
                    <input type="text" class="form-control">
                    <label>Middle name</label>
                </div>
                <div class="input-group-input">
                    <input type="text" class="form-control">
                    <label>Last name</label>
                </div>
            </div>
            <div class="form-group">
                <input type="number" class="form-control">
                <label>Phone</label>
            </div>

            <div class="form-group">
                <input type="text" class="form-control">
                <label>Degree</label>
            </div>

        </div>
    </div>

    <footer class="p-12 text-right">
        <button class="btn btn-flat btn-secondary" type="button" data-toggle="quickview">Cancel</button>
        <button class="btn btn-flat btn-primary" type="submit">Create</button>
    </footer>
</div>
<!-- END Quickview - Add Doctor -->

<!-- Scripts -->
<script src="../assets/js/core.min.js"></script>
<script src="../assets/js/app.min.js"></script>
<script src="../assets/js/script.min.js"></script>
<script src="../assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="../assets/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
</body>


</html>
