<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive admin dashboard and web application ui kit. ">
    <meta name="keywords" content="blank, starter">

    <title>Blank page &mdash; TheAdmin</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <!-- Styles -->
    <link href="/assets/css/core.min.css" rel="stylesheet">
    <link href="/assets/css/app.min.css" rel="stylesheet">
    <link href="/assets/css/style.min.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" href="/assets/img/favicon.png">
</head>

<body>

<!-- Preloader -->
<div class="preloader">
    <div class="spinner-dots">
        <span class="dot1"></span>
        <span class="dot2"></span>
        <span class="dot3"></span>
    </div>
</div>


<!-- Topbar -->
<%- include('include_topbar') %>
<!-- END Topbar -->


<!-- Main container -->
<main>
    <header class="header">
        <div class="container">
            <div class="header-info align-items-center">
                <div class="left">
                    <h1 class="header-title"><%= patient.name %></h1>
                </div>

                <!--<div class="right flexbox align-items-center">-->
                <!--<div class="dropdown">-->
                <!--<a class="btn btn-pure text-lighter no-letter-spacing fw-300 fs-13" data-toggle="dropdown" href="#"><span class="badge badge-ring badge-info mr-1"></span> Work</a>-->
                <!--<div class="dropdown-menu dropdown-menu-right">-->
                <!--<a class="dropdown-item" href="#"><span class="badge badge-ring badge-danger mr-2"></span> Family</a>-->
                <!--<a class="dropdown-item" href="#"><span class="badge badge-ring badge-warning mr-2"></span> Friends</a>-->
                <!--<a class="dropdown-item active" href="#"><span class="badge badge-ring badge-info mr-2"></span> Work</a>-->
                <!--<a class="dropdown-item" href="#"><span class="badge badge-ring badge-purple mr-2"></span> Bills</a>-->
                <!--</div>-->
                <!--</div>-->

                <!--<label class="toggler fs-16 mr-12">-->
                <!--<input type="checkbox" checked="">-->
                <!--<i class="fa fa-star"></i>-->
                <!--</label>-->

                <!--<div class="dropdown">-->
                <!--<a class="text-lighter" data-toggle="dropdown" href="#"><i class="ti-more-alt rotate-90"></i></a>-->
                <!--<div class="dropdown-menu dropdown-menu-right">-->
                <!--<a class="dropdown-item" href="#"><i class="fa fa-reply"></i> Reply</a>-->
                <!--<a class="dropdown-item" href="#"><i class="fa fa-share"></i> Forward</a>-->
                <!--<a class="dropdown-item" href="#"><i class="fa fa-print"></i> Print</a>-->
                <!--<div class="dropdown-divider"></div>-->
                <!--<a class="dropdown-item" href="#"><i class="fa fa-trash"></i> Delete</a>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
            <div class="header-action">
                <nav class="nav">
                    <a class="nav-link" href="all">Tổng quan</a>
                    <a class="nav-link active" href="test_results">Lịch sử khám</a>
                    <a class="nav-link" href="sitting">Lịch sử ngồi</a>
                </nav>
            </div>
        </div>
    </header>

    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="card shadow-1">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Tên đợt khám</th>
                                <th>Bác sĩ khám</th>
                                <th>Triệu chứng</th>
                                <th>Kết luận</th>
                                <th>Cách điều trị</th>
                                <th>Ngày khám</th>
                            </tr>
                            </thead>
                            <!--List item record-->
                            <% records.forEach(function(record){ %>
                                <%- include('row_item_med_record', {record: record}); %>
                            <% }); %>
                        </table>
                    </div>
                </div>
                <div class="col-lg-5">
                    <form class="card shadow-1" action="" method="post">
                        <h5 class="card-title"><strong>Tạo mới lịch sử khám</strong></h5>

                        <div class="card-body">
                            <div class="form-group">
                                <label class="require">Tên đợt khám</label>
                                <input class="form-control" type="text" name="name">
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label class="require">Ngày</label>
                                    <input type="text" class="form-control" name="date" data-provide="datepicker"
                                           data-date-today-highlight="true">
                                </div>
                                <div class="form-group col-6">
                                    <label class="require">Giờ</label>
                                    <input type="text" class="form-control" name="time" data-provide="clockpicker"
                                           data-date-today-highlight="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="require">Bác sĩ khám</label>
                                <input class="form-control" type="text" name="doctorName">
                            </div>
                            <div class="form-group">
                                <label class="require">Triệu chứng</label>
                                <input class="form-control" type="text" name="symptoms">
                            </div>
                            <div class="form-group">
                                <label class="require">Kết luận</label>
                                <input class="form-control" type="text" name="conclusion">
                            </div>
                            <div class="form-group">
                                <label class="require">Điều trị</label>
                                <input class="form-control" type="text" name="treatment">
                            </div>

                        </div>

                        <footer class="card-footer text-right">
                            <button class="btn btn-primary">Lưu</button>
                        </footer>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--/.main-content -->


    <!-- Footer -->
    <%- include('include_footer') %>
    <!-- END Footer -->

</main>

<script src="/assets/js/core.min.js" data-provide="chartjs"></script>
<script src="/assets/js/app.min.js"></script>
<script src="/assets/js/script.min.js"></script>
</body>

</html>