<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive admin dashboard and web application ui kit. ">
    <meta name="keywords" content="blank, starter">

    <title>Blank page &mdash; TheAdmin</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <!-- Styles -->
    <link href="/assets/css/core.min.css" rel="stylesheet">
    <link href="/assets/css/app.min.css" rel="stylesheet">
    <link href="/assets/css/style.min.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" href="/assets/img/favicon.png">
</head>

<body>

<!-- Preloader -->
<div class="preloader">
    <div class="spinner-dots">
        <span class="dot1"></span>
        <span class="dot2"></span>
        <span class="dot3"></span>
    </div>
</div>




<!-- Topbar -->
<%- include('include_topbar') %>
<!-- END Topbar -->


<!-- Main container -->
<main>
    <header class="header">
        <div class="container">
        <div class="header-info align-items-center">
            <div class="left">
                <h1 class="header-title"><%= patient.name %></h1>
            </div>

            <!--<div class="right flexbox align-items-center">-->
            <!--<div class="dropdown">-->
            <!--<a class="btn btn-pure text-lighter no-letter-spacing fw-300 fs-13" data-toggle="dropdown" href="#"><span class="badge badge-ring badge-info mr-1"></span> Work</a>-->
            <!--<div class="dropdown-menu dropdown-menu-right">-->
            <!--<a class="dropdown-item" href="#"><span class="badge badge-ring badge-danger mr-2"></span> Family</a>-->
            <!--<a class="dropdown-item" href="#"><span class="badge badge-ring badge-warning mr-2"></span> Friends</a>-->
            <!--<a class="dropdown-item active" href="#"><span class="badge badge-ring badge-info mr-2"></span> Work</a>-->
            <!--<a class="dropdown-item" href="#"><span class="badge badge-ring badge-purple mr-2"></span> Bills</a>-->
            <!--</div>-->
            <!--</div>-->

            <!--<label class="toggler fs-16 mr-12">-->
            <!--<input type="checkbox" checked="">-->
            <!--<i class="fa fa-star"></i>-->
            <!--</label>-->

            <!--<div class="dropdown">-->
            <!--<a class="text-lighter" data-toggle="dropdown" href="#"><i class="ti-more-alt rotate-90"></i></a>-->
            <!--<div class="dropdown-menu dropdown-menu-right">-->
            <!--<a class="dropdown-item" href="#"><i class="fa fa-reply"></i> Reply</a>-->
            <!--<a class="dropdown-item" href="#"><i class="fa fa-share"></i> Forward</a>-->
            <!--<a class="dropdown-item" href="#"><i class="fa fa-print"></i> Print</a>-->
            <!--<div class="dropdown-divider"></div>-->
            <!--<a class="dropdown-item" href="#"><i class="fa fa-trash"></i> Delete</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>
        <div class="header-action">
            <nav class="nav">
                <a class="nav-link active" href="all">Tổng quan</a>
                <a class="nav-link" href="test_results">Lịch sử khám</a>
                <a class="nav-link" href="sitting">Lịch sử ngồi</a>
            </nav>
        </div>
        </div>
    </header>

    <div class="main-content">
        <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="media align-items-center header-info">
                        <div class="flexbox">
                            <a href="#">
                                <img class="avatar avatar-xxl avatar-bordered" src=<%= patient.getImgUrlOrDefault() %>>
                            </a>
                            <div class="flex-grow pl-20">
                                <h4><%= patient.name %></h4>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <dt class="col-sm-4">Email</dt>
                                            <dd class="col-sm-8"><%= patient.user.email %></dd>
                                            <dt class="col-sm-4">SĐT</dt>
                                            <dd class="col-sm-8"><%= patient.phone %></dd>
                                            <dt class="col-sm-4">Địa chỉ</dt>
                                            <dd class="col-sm-8">
                                                <%= patient.getAddressString() %>
                                            </dd>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <dt class="col-sm-4">Sinh nhật</dt>
                                            <dd class="col-sm-8"><%= moment(patient.birthday).format('DD-MM-YYYY') %></dd>
                                            <dt class="col-sm-4">Tuổi</dt>
                                            <dd class="col-sm-8"><%= moment().diff(patient.birthday, 'years', false) %></dd>
                                            <dt class="col-sm-4">Giới tính</dt>
                                            <dd class="col-sm-8">
                                                <% if(patient.isMale){ %>
                                                    Nam
                                                <% }else{ %>
                                                    Nữ
                                                <% } %>
                                            </dd>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h3 class="card-title">Tình trạng sức khỏe</h3>

                    <div class="card-body">
                        <%if(records && records[0]){%>
                            <p class="lead"><%= records[0].conclusion %></p>
                        <%}else{%>
                                <p class="lead">Không có</p>
                        <%}%>
                    </div>
                </div>
                <div class="card">
                    <div class="card">
                        <h3 class="card-title">Thống kê</h3>

                        <div class="card-body">
                            <canvas id="chart" width="400" height="250"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <%if(records){%>
                        <ol class="timeline timeline-activity timeline-point-sm timeline-content-right w-100 py-20 pr-20">
                            <% records.forEach(function(record){ %>
                                <%- include('list_item_history_record', {record: record}); %>
                            <% }); %>
                        </ol>
                    <%}else{%>
                        <p>Không có</p>
                    <%}%>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!--/.main-content -->


    <!-- Footer -->
    <%- include('include_footer') %>
    <!-- END Footer -->

</main>

<script src="/assets/js/core.min.js" data-provide="chartjs"></script>
<script src="/assets/js/app.min.js"></script>
<script src="/assets/js/script.min.js"></script>
<script>
    // ==============================================
    // Line chart 4
    //
    const data = <%- JSON.stringify(sittingStats) %>;
    console.log(data);
    app.ready(function () {
        new Chart($("#chart"), {
            type: 'line',
            data: {
                labels: data.labels,
                datasets: [{
                    label: 'Số lần ngồi',
                    fill: false,
                    borderWidth: 3,
                    pointRadius: 4,
                    borderColor: "#36a2eb",
                    backgroundColor: "#36a2eb",
                    pointBackgroundColor: "#36a2eb",
                    pointBorderColor: "#36a2eb",
                    pointHoverBackgroundColor: "#fff",
                    pointHoverBorderColor: "#36a2eb",
                    yAxisID: 'A',
                    data: data.countPerDays
                }, {
                    label: 'Thời gian ngồi',
                    fill: false,
                    borderWidth: 3,
                    pointRadius: 4,
                    borderColor: "#ff6384",
                    backgroundColor: "#ff6384",
                    pointBackgroundColor: "#ff6384",
                    pointBorderColor: "#ff6384",
                    pointHoverBackgroundColor: "#fff",
                    pointHoverBorderColor: "#ff6384",

                    yAxisID: 'B',
                    data: data.timePerDays
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        id: 'A',
                        type: 'linear',
                        position: 'left',
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1
                        }
                    }, {
                        id: 'B',
                        type: 'linear',
                        position: 'right',
                        ticks: {
                            beginAtZero: true,
                            callback: function (value, index, values) {
                                return Math.round(value * 10) / 10 + 'h';
                            }
                        }
                    }]
                }
            }
        });

    });
</script>

</body>

</html>