<!-- Quickview - User detail -->
<form id="qv-user-details" class="quickview quickview-lg" action="/doctor/profile" method="post">
    <div class="quickview-body">

        <div class="card card-inverse">


            <div class="card-body text-center pb-50 pt-50">
                <a href="#">
                    <img class="avatar avatar-xxl avatar-bordered" src=
                    <% if(doctor.imgUrl){ %>
                        <%= doctor.imgUrl %>
                    <% }else{ %>
                        "../assets/img/default-avatar.png">
                    <% } %>
                    >
                </a>
                <h4 class="mt-2 mb-0"><a class="hover-primary text-white" href="#"><%= doctor.name %></a></h4>
                <span><i class="fa fa-envelope-o w-30px"></i><%= doctor.email %></span>
            </div>
        </div>

        <div class="quickview-block form-type-material">
            <div class="form-group">
                <input type="text" class="form-control" name="name" value=<%= doctor.name %>>
                <label>Name</label>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" value=<%= doctor.email %> disabled>
                <label>Email Address</label>
            </div>


            <!-- <div class="h-40px"></div>
            <div class="form-group">
              <select class="form-control" data-provide="selectpicker">
                <option>United States</option>
                <option>Canada</option>
                <option>Mexico</option>
                <option>Japan</option>
                <option>Other</option>
              </select>
              <label>Country</label>
            </div> -->

            <div class="form-group">
                <input type="text" class="form-control" name="degree" value=<%= doctor.degree %>>
                <label>Degree</label>
            </div>


        </div>
    </div>

</form>
<!-- END Quickview - User detail -->
