<tr>
    <td><%=record.name%></td>
    <td><%=record.doctorName%></td>
    <td><%=record.symptoms%></td>
    <td><%=record.conclusion%></td>
    <td><%=record.treatment%></td>
    <td><%=moment(record.date).format("dddd, HH:mm - DD/MM/YYYY")%></td>
</tr>