$background-std: #fde11a;
.topbar-drloan {
  background-color: $background-std;
}

.topbar-drloan.topbar-secondary .dropdown-menu,
.topbar-drloan.topbar-secondary .menu > .menu-item:hover,
.topbar-drloan.topbar-secondary .menu > .menu-item.active,
.topbar-drloan.topbar-secondary .menu-submenu,
.topbar-drloan.topbar-secondary .menu-sub-submenu,
.topbar-drloan.topbar-secondary .dropdown.show .topbar-btn,
.topbar-drloan.topbar-secondary .dropdown:hover .topbar-btn,
.topbar-drloan.topbar-secondary .topbar-btn:hover {
  background-color: #e3ca17;
}

.topbar-drloan.topbar-secondary .menu-item:hover > .menu-link,
.topbar-drloan.topbar-secondary .menu-item.active > .menu-link {
  color: black;
}

.topbar-drloan.topbar-secondary .menu-link,
.topbar-drloan.topbar-secondary .dropdown-item {
  color: rgba(0, 0, 0, 0.7);
}

.topbar-drloan.topbar-secondary .dropdown-item:hover, .topbar-drloan.topbar-secondary .dropdown-item:focus {
  color: black;
}

.topbar-drloan.topbar-secondary .dropdown-divider {
  border-top-color: #fef08c;
}
